
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!-- banner section -->
<section id="home" class="w3l-banner py-5">
    <div class="banner-content">
        <div class="container py-4">
            <div class="row align-items-center pt-sm-5 pt-4">
                <div class="col-md-6">
                    <h3 class="mb-lg-4 mb-3">
                        Erkunt A.Ş İnsan Kaynakları<span class="d-block">Eğitim Sistemi</span>
                    </h3>
                    <p class="banner-sub">Yeni nesil eğitim platformu , hemen kayıt olun ve eğitim almaya başlayın</p>
                    <div class="d-flex align-items-center buttons-banner">
                        <input  type="button"onclick="location.href= 'Accounts/Login'" class="btn btn-style mt-lg-5 mt-4" value="Giriş Yap" /> </input>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- //banner section -->
<!-- home 4grids block -->

<section class="services-w3l-block py-5" id="features">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <p class="text-uppercase">En iyi özellikler</p>
            <h3 class="title-style">Aradığınız eğitime Erkunt Eğitim portalı ile ulaşın !</h3>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
                <div class="icon-box icon-box-clr-1">
                    <div class="icon"><i class="fas fa-user-friends"></i></div>
                    <h4 class="title"><a href="#about">Usta Eğitmenler</a></h4>
                    <p>Bölümün uzmanlarından en iyi eğitimi alma şansı </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-md-0 mt-4">
                <div class="icon-box icon-box-clr-2">
                    <div class="icon"><i class="fas fa-book-reader"></i></div>
                    <h4 class="title"><a href="#about">Kaliteli Eğitim</a></h4>
                    <p>Eğitim sonrasında sınavlarla dereceni belirle </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-lg-0 mt-4">
                <div class="icon-box icon-box-clr-3">
                    <div class="icon"><i class="fas fa-user-graduate"></i></div>
                    <h4 class="title"><a href="#about">Hayat boyu destek</a></h4>
                    <p>Verilen eğitimlerin her biri çalışma hayatınız boyunca size destek olucaktır</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-lg-0 mt-4">
                <div class="icon-box icon-box-clr-4">
                    <div class="icon"><i class="fas fa-university"></i></div>
                    <h4 class="title"><a href="#about">Ders sonunda sertifika</a></h4>
                    <p>Çalışma hayatınız boyunca CV nizde saklayabileceğiniz eğitim sertifikaları</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- home 4grids block -->
<!-- home image with content block -->

<section class="w3l-servicesblock pt-lg-5 pt-4 pb-5 mb-lg-5" id="about">
    <div class="container pb-md-5 pb-4">
        <div class="row pb-xl-5 align-items-center">
            <div class="col-lg-6 position-relative home-block-3-left pb-lg-0 pb-5">
                <div class="position-relative">
                    <img src="~/assets/images/think.jpg" alt="" class="img-fluid radius-image">
                </div>
                <div class="imginfo__box">
                    <h6 class="imginfo__title"> Hemen ders almaya başlayın !</h6>
                    <p>İnsan kaynakları ile iletişime geçip hangi kursların<br> size uygun olduğunu öğrenin. </p>
                    <a href="tel:http://1(800)7654321"><i class="fas fa-phone-alt"></i>+90 0(53*) *** ** **</a>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 offset-xl-1 mt-lg-0 mt-5 pt-lg-0 pt-5">
                <h3 class="title-style">Kişisel gelişiminizi geliştirmeye yönelik ücretsiz ders hakkı</h3>
                <p class="mt-4">
                    İnsanın temel gereksinim ve yönelimlerinin başında, içinde yaşadığı sosyal bağlam içindeki diğer insanlara yönelme ve
                    onlarla ilişki kurma gereksinimi gelir.
                    Bu gereksinimi karşılamak için diğer insanlarla kurulan ilişkiler insan varoluşunu belirleyen koşullardan biridir.
                </p>
                <ul class="mt-4 list-style-lis pt-lg-1">
                    <li><i class="fas fa-check-circle"></i>Kişiye özel eğitim</li>
                    <li><i class="fas fa-check-circle"></i>30 dan fazla ders seçeneği</li>
                    <li><i class="fas fa-check-circle"></i>Üst düzey eğitmenler</li>
                </ul>
                <input type="button" onclick="location.href= 'Home/Contact'" class="btn btn-style mt-lg-5 mt-4" value="İletişime Geç"></input>
            </div>
        </div>
    </div>
</section>
<!-- //home image with content block -->
<!-- courses section -->
<div class="w3l-grids-block-5 home-course-bg py-5" id="courses">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <p class="text-uppercase">En iyi kurslar</p>
            <h3 class="title-style">Senin için en uygun kursu bul</h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="coursecard-single">
                    <div class="grids5-info position-relative">
                        <img src="~/assets/images/11.jpg" alt="" class="img-fluid" />
                        <div class="meta-list">
                            <a href="courses.html">İnsan ilişkileri</a>
                        </div>
                    </div>
                    <div class="content-main-top">
                        <div class="content-top mb-4 mt-3">
                            <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                <li> <i class="fas fa-book-open"></i> 43 Ders</li>
                                <li> <i class="fas fa-star"></i> 4.5</li>
                            </ul>
                        </div>
                        <h4><a href="courses.html">İnsan İlişkileri 101</a></h4>
                        <p>Karşılıklı sohbetde yaptığımız yanlışlar</p>
                        <div class="top-content-border d-flex align-items-center justify-content-between mt-4 pt-4">
                            <h6>$42.00</h6>
                            <a class="btn btn-style-primary" href="courses.html">
                                Detaylar için<i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                <div class="coursecard-single">
                    <div class="grids5-info position-relative">
                        <img src="~/assets/images/22.jpg" alt="" class="img-fluid" />
                        <div class="meta-list">
                            <a href="courses.html" class="sec-2">Kriz yönetimi</a>
                        </div>
                    </div>
                    <div class="content-main-top">
                        <div class="content-top mb-4 mt-3">
                            <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                <li> <i class="fas fa-book-open"></i> 15 Ders</li>
                                <li> <i class="fas fa-star"></i> 4.3</li>
                            </ul>
                        </div>
                        <h4><a href="courses.html"> 24 Dersde Kriz Yönetimi</a></h4>
                        <p>Kriz anında en sağlıklı ve doğru kriz yönetimini öğren</p>
                        <div class="top-content-border d-flex align-items-center justify-content-between mt-4 pt-4">
                            <h6>$36.00</h6>
                            <a class="btn btn-style-primary" href="courses.html">
                                Detaylar için<i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                <div class="coursecard-single">
                    <div class="grids5-info position-relative">
                        <img src="~/assets/images/33.jpg" alt="" class="img-fluid" />
                        <div class="meta-list">
                            <a href="courses.html" class="sec-3">Yöneticilik</a>
                        </div>
                    </div>
                    <div class="content-main-top">
                        <div class="content-top mb-4 mt-3">
                            <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                <li> <i class="fas fa-book-open"></i> 10 Ders</li>
                                <li> <i class="fas fa-star"></i> 4.2</li>
                            </ul>
                        </div>
                        <h4><a href="courses.html">10 adımda yönetici nitelikleri</a></h4>
                        <p>Yönetici nasıl olunur , nasıl yönetilir</p>
                        <div class="top-content-border d-flex align-items-center justify-content-between mt-4 pt-4">
                            <h6>$30.00</h6>
                            <a class="btn btn-style-primary" href="courses.html">
                                Detaylar için<i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-sm-5 mt-4 pt-sm-0 pt-1">
            <a class="btn btn-style btn-style-secondary mt-sm-3" href="courses.html">
                Daha fazla kurs bul
            </a>
        </div>
    </div>
</div>
<!-- //courses section -->
<!-- why choose block -->
<section class="w3l-service-1 py-5">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">

            <h3 class="title-style">Erkunt Eğitim Portalı</h3>
        </div>
        <div class="row content23-col-2 text-center">
            <div class="col-md-6">
                <div class="content23-grid content23-grid1">
                    <h4><a href="about.cshtml">Deneyimli Eğitmenler</a></h4>
                </div>
            </div>
            <div class="col-md-6 mt-md-0 mt-4">
                <div class="content23-grid content23-grid2">
                    <h4><a href="about.html">Güvenilir Kaynaklar</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //why choose block -->
<!-- stats block -->
<section class="w3-stats pt-4 pb-5" id="stats">
    <div class="container pb-md-5 pb-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <p class="text-uppercase">İstatisikler</p>
            <h3 class="title-style">Sizinle Paylaşmaktan Gurur Duyuyoruz</h3>
        </div>
        <div class="row text-center pt-4">
            <div class="col-md-3 col-6">
                <div class="counter">
                    <img src="~/assets/images/icon-1.png" alt="" class="img-fluid">
                    <div class="timer count-title count-number mt-sm-1" data-to="1061" data-speed="1500"></div>
                    <p class="count-text">Kayıtlı Kursiyer</p>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="counter">
                    <img src="~/assets/images/icon-2.png" alt="" class="img-fluid">
                    <div class="timer count-title count-number mt-3" data-to="61" data-speed="1500"></div>
                    <p class="count-text">Eğitim Odaları</p>
                </div>
            </div>
            <div class="col-md-3 col-6 mt-md-0 mt-5">
                <div class="counter">
                    <img src="~/assets/images/icon-3.png" alt="" class="img-fluid">
                    <div class="timer count-title count-number mt-3" data-to="161" data-speed="1500"></div>
                    <p class="count-text">Toplam Kurs</p>
                </div>
            </div>
            <div class="col-md-3 col-6 mt-md-0 mt-5">
                <div class="counter">
                    <img src="~/assets/images/icon-4.png" alt="" class="img-fluid">
                    <div class="timer count-title count-number mt-3" data-to="1001" data-speed="1500"></div>
                    <p class="count-text">Verilen Diploma</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //stats block -->
<!-- testimonials block -->
<section class="w3l-index4 py-5" id="testimonials">
    <div class="container py-md-5 py-4">
        <div class="content-slider text-center">
            <div class="clients-slider">
                <div class="mask">
                    <ul>
                        <li class="anim1">
                            <img src="~/assets/images/testi1.jpg" class="img-fluid rounded-circle"
                                 alt="client image" />
                            <blockquote class="quote">
                                <q>
                                    Stajyer olarak çalışmaya başlamadan önce böyle bir eğitim alma şansım olduğu
                                    için çok şanslıyım.
                                </q>
                            </blockquote>
                            <div class="source">Selin Erkunt</div>
                        </li>

                        <li class="anim2">
                            <img src="~/assets/images/testi2.jpg" class="img-fluid rounded-circle"
                                 alt="client image" />
                            <blockquote class="quote">
                                <q>
                                    Çalışanların ve stajyerlerin eğitim sonunda verdikleri testlerin
                                    sonuçlarına bakarak çıkarım yapabiliyorum.
                                </q>
                            </blockquote>
                            <div class="source">Melike Erkunt</div>
                        </li>
                        <li class="anim3">
                            <img src="~/assets/images/testi3.jpg" class="img-fluid rounded-circle "
                                 alt="client image" />
                            <blockquote class="quote">
                                <q>
                                    İnsan kaynakları olarak böyle bir sistemi yürür hale getirdiğimiz için
                                    kendimle ve çalışan arkadaşlarımla gurur duyuyorum.
                                </q>
                            </blockquote>
                            <div class="source">- Aslı Erkunt</div>
                        </li>
                        <li class="anim4">
                            <img src="~/assets/images/testi1.jpg" class="img-fluid rounded-circle"
                                 alt="client image" />
                            <blockquote class="quote">
                                <q>
                                    Çok faydalı bir websitesi olmuş !
                                </q>
                            </blockquote>
                            <div class="source">-Didem Erkunt</div>
                        </li>
                        <li class="anim5">
                            <img src="~/assets/images/testi2.jpg" class="img-fluid rounded-circle"
                                 alt="client image" />
                            <blockquote class="quote">
                                <q>
                                    Harika !
                                </q>
                            </blockquote>
                            <div class="source">- Canan Erkunt</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //testimonials block -->
<!-- blog block -->
<div class="w3l-blog-block-5 py-5" id="blog">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <p class="text-uppercase">Yeni Haberler</p>
            <h3 class="title-style">Son <span>Blog</span> </h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="blog-card-single">
                    <div class="grids5-info">
                        <a href="#blog"><img src="~/assets/images/takvim.png" alt="" /></a>
                        <div class="blog-info">
                            <h4><a href="#blog">Takvim Sistemi...</a></h4>
                            <p>
                                Kullanıcılar ve Eğitmenler günlük,haftalık ve aylık olarak takvim
                                sistemi üzerinden etkinleri takip edebilecek.
                            </p>
                            <div class="d-flex align-items-center justify-content-between mt-4">
                                <a class="d-flex align-items-center" href="#blog" title="23k followers">
                                    <img class="img-fluid" src="~/assets/images/testi2.jpg" alt="admin"
                                         style="max-width:40px"> <span class="small ms-2">Meral Erkunt</span>
                                </a>
                                <p class="date-text"><i class="far fa-calendar-alt me-1"></i>Ağustos 06, 2022</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                <div class="blog-card-single">
                    <div class="grids5-info">
                        <a href="#blog"><img src="~/assets/images/exam.png" alt="" /></a>
                        <div class="blog-info">
                            <h4><a href="#blog">Belirleme Sınavları...</a></h4>
                            <p>
                                Kursiyerler kurs sonlarında derecelerini girdikleri
                                sınavlar üzerinden belirleyebilecek.
                            </p>
                            <div class="d-flex align-items-center justify-content-between mt-4">
                                <a class="d-flex align-items-center" href="#blog" title="23k followers">
                                    <img class="img-fluid" src="~/assets/images/testi1.jpg" alt="admin"
                                         style="max-width:40px"> <span class="small ms-2">Buse Azak</span>
                                </a>
                                <p class="date-text"><i class="far fa-calendar-alt me-1"></i>Ağustos 10, 2022</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                <div class="blog-card-single">
                    <div class="grids5-info">
                        <a href="#blog"><img src="~/assets/images/online.jpg" alt="" /></a>
                        <div class="blog-info">
                            <h4><a href="#blog">Online Dersler...</a></h4>
                            <p>
                                Takvim sisteminden kontrol edebileceğiniz aylık programa göre
                                online dersler verilecek.
                            </p>
                            <div class="d-flex align-items-center justify-content-between mt-4">
                                <a class="d-flex align-items-center" href="#blog" title="23k followers">
                                    <img class="img-fluid" src="~/assets/images/testi3.jpg" alt="admin"
                                         style="max-width:40px"> <span class="small ms-2">
                                        Aylin Erkunt
                                    </span>
                                </a>
                                <p class="date-text"><i class="far fa-calendar-alt me-1"></i>Ağustos 12, 2022</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //blog block -->
<!-- call block -->
<section class="w3l-call-to-action-6">
    <div class="container py-md-5 py-sm-4 py-5">
        <div class="d-lg-flex align-items-center justify-content-between">
            <div class="left-content-call">
                <h3 class="title-big">Yardım için Erkunt A.Ş İnsan Kaynakları</h3>
                <p class="text-white mt-1">Değişime bugün başla !</p>
            </div>
            <div class="right-content-call mt-lg-0 mt-4">
                <ul class="buttons">
                    <li class="phone-sec me-lg-4">
                        <i class="fas fa-phone-volume"></i>
                        <a class="call-style-w3" href="tel:0(312) 267 50 00">0(312) 267 50 00</a>
                    </li>
                    <li>
                        <input type="button" onclick="location.href= 'Accounts/Signup'" class="btn btn-style mt-lg-5 mt-4" value="Ücretsiz üye ol"></input>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- //call block -->
